
<div id="wrap">
  <form action="/search" method="post">
  <input id="search" name="item" type="text" placeholder="Search for an item" style="width:80%;font-size:16px;padding:10px;height:40px;">
  <button id="searchItem" type="submit" style="height: 40px;padding:10px;"><span class="glyphicon glyphicon-search" aria-hidden="true" style="font-size:16px;"></span></button>
  </form>
</div>
