<h2>Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h3>DUMMY</h3>
      <small>Palo Alto, CA</small>
      <small>User since 2017</small>
      <div class="bookmarks">
        <h4>Bookmarks</h4>
        <ul>
          <li>Baking Soda</li>
          <li><a href="/vinegar">Vinegar</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <img src="/public/images/avatar.png" class="avatar" alt="avatar image">
    </div>
  </div>
</div>
