<div class="home-div">
  <img src="/public/images/home-cleaners.jpg" alt="homemade cleaners" class="home-image">
  <small>Image Source: <a href="http://www.paris-to-go.com/2014/05/zero-waste-cleaning-paris.html">Paris-To-Go</a></small>
  <a href="/users/register"><button class="register-btn">Get Started</button></a>
  <a href="/users/login"><button class="login-btn">Login</button></a>

</div>
