
  <div class="page-header">
    <h2 class="index-welcome">Find more uses for everyday items.</h2>

    <p class="index-msg">Join a community of environmentally conscious folks! Find more ways to use everyday household items. Help eliminate harmful toxins in your home and reduce the amount of waste going into your landfills and water systems.</p>
       {{#if user}}
    <div class="row">
        <div class="col-lg-12">
       <form action="/search" method="post">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="item">
        <span class="input-group-btn">
          <button id="search-item" class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
        </div>
        </form>
      
    </div>
    </div>
   {{/if}}
  </div>

   

  <div class="row">
  <div class="index-items-list">
  {{#each items}}  
    <div class="individual-item col-xs-12 col-sm-6">
    
      <div class="itemDesc itemTextFlow">
           <a href="/items/{{this._id}}">
              <div class="img center-block" style="background-image:url('{{this.imgSrc}}');"></div>
              
              <h3 class="text-capitalize">{{this.itemName}}</h3>
                </a>
              <p class="text-justify index-item-desc">{{this.shortDescription}}</p>
          </div>
      
      </div>
  {{/each}}
  </div> 
  </div>

