
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <img src="/public/images/vinegar.jpg" class="household-item" alt="image">
      <button class="bookmark-item btn-primary">bookmark</button>
      <form>
        <input name="tip" placeholder="add tips" class="tip-input">
        <button class="submit-tip btn-success">submit tip</button>
      </form>
    </div>
    <div class="col-xs-8">
      <div class="household-item-description">
        <p>Vinegar is a liquid consisting of about 5–20% acetic acid (CH3COOH), water, and other trace chemicals, which may include flavorings. The acetic acid is produced by the fermentation of ethanol by acetic acid bacteria. Vinegar is now mainly used as a cooking ingredient, or in pickling. As the most easily manufactured mild acid, it has historically had a great variety of industrial, medical, and domestic uses, some of which (such as its use as a general household cleaner) are still commonly practiced today.</p>
      </div>
      <div class="tips-list">
        <div class="individual-tips">
          <p>Use vinegar to wash your hair, it acts as a conditioner!</p>
          <span class="glyphicon glyphicon-thumbs-up"></span><span class="upvotes">10</span> <span class="glyphicon glyphicon-thumbs-down"></span><span class="downvotes">4</span>
        </div>
        <div class="individual-tips">
          <p>Drink vinegar to clear up sinuses!</p>
          <span class="glyphicon glyphicon-thumbs-up"></span><span class="upvotes">20</span> <span class="glyphicon glyphicon-thumbs-down"></span><span class="downvotes">16</span>
        </div>
        <div class="hidden-tips">
          <p>2 Tips Hidden</p>
        </div>
      </div>
    </div>
  </div>
</div>
