/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  a:hover {
    text-decoration: none;
    color: @blk;
  }
  a {
    color: @coral;
  }
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  /* Custom page footer */
  .footer {
    margin-top: 30px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  .nav-brand, .home-title {
    color: @coral;
  }

/* Home */
.home-div {
  text-align: center;
  color: @lightgray;
  .home-image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
  }
  small a {
      color: @lightgray;
  }
  .register-btn {
    background-color: @coral;
  }
  .register-btn, .login-btn {
    display: block;
    margin: 0 auto;
    color: black;
    width: 300px;
    font-size: 1.5em;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  a:hover{
    text-decoration: none;
  }
}

/* DASHBOARD */
.bookmarks {
  border: 1px solid @lightgray;
  // border-radius: 5px;
  // margin-top: 10px;
  border: 1px solid @lightgray;
  padding: 10px;
  h4 {
    color: @coral;
  }
}
.user-info {
  padding: 5px;
  width: 100%;
}
.avatar {
  width: 100%;
  height: auto;
}
div.avatar-div {
  width: 50%;
  padding: 5px;
}
.user-activity {
  height: 300px;
  border: 1px solid @lightgray;
  overflow: auto;
}

/* HOUSEHOLD ITEM PAGE */
.household-item-description {
  border: 1px solid @lightgray;
  padding: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.household-item {
    margin: auto 0;
    width: 80%;
}
.bookmark-item, .tip-input, .submit-tip {
  margin: 5px;
}

.tips-list {
  padding: 10px;
  .individual-tips {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    p {
      font-size: 1.3em;
    }
  }
  .hidden-tips {
    color: @lightgray;
    text-align: center;
  }

}

}



@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
