
*{
  box-sizing: border-box;
}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
  img {
    width: 300px;
    height: auto;
  }
  a:hover {
    text-decoration: none;
    color: @blk;
  }
  a {
    color: @coral;
  }
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Open Sans', sans-serif;
  }
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
  /* Custom page footer */
  .footer {
    margin-top: 30px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  .nav-brand, .home-title {
    color: @coral;
    font-family: 'Open Sans', sans-serif;
  }

/* Home */
.home-div {
  text-align: center;
  color: @lightgray;
  .home-image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
  }
  small a {
      color: @lightgray;
  }
  .register-btn {
    background-color: @coral;
  }
  .register-btn, .login-btn {
    display: block;
    margin: 0 auto;
    color: black;
    width: 300px;
    font-size: 1.5em;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

.nav-brand a {
  text-decoration: none;
      font-family: 'Open Sans', sans-serif;

}

/** INDEX **/

.index-msg {
  font-size: 1.5em;
  color: @darkgray;
}

.individualItemList {
  list-style-type: none;
}

.indvidual-item {
  margin: auto 0;
}
img.item-image {
  width: 300px;
  margin: 0 auto;
  display: inline-block;
}
p.itemDesc {
  width: 100%;
  display: inline-block;
}

p.itemDesc {
  padding: 3px;
  font-size: 1.2em;
}

img.item-image {
  border: 1px solid @coral;
  margin: 3px;
}

/* DASHBOARD */
.bookmarks {
  border: 1px solid @lightgray;
  height: 300px;
  overflow: auto;
  padding: 10px;
  h4 {
    color: @coral;
  }
}
.user-info {
  padding: 5px;
  float: left;
}
.avatar {
  width: 50%;
  float: left;
}
.user-activity {
  height: 300px;
  border: 1px solid @lightgray;
  overflow: auto;
  padding: 10px;
}
ul.tipsList {
  padding: 10px;
  list-style-type: none;
  }
div.individual-tips {
  border: 1px solid @lightgray;
  margin-bottom: 5px;
  padding: 5px;
  p {
    font-size: 1.3em;
  }
}

.tipContent {
  padding: 10px;
}
.tipAuthor {
  color: @lightgray;
  font-size: 12px;
  padding: 10px;
}


img.img-thumbnail {
    width: 50%;
    margin: auto 0;
  }

ul.bookmarkList {
  list-style-type: none;
}

/******* ADMIN *******/



/***** HOUSEHOLD ITEM PAGE *****/
.household-item-description {
  border: 1px solid @lightgray;
  padding: 5px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.item-desc {
  font-size: 12px;
  padding: 5px;
}

img.household-item-image {
    width: 50%;
    margin-top: 20px;
}
.bookmark-item, .tip-input, .submit-tip {
  margin: 5px;
}
  .hidden-tips {
    color: @lightgray;
    text-align: center;
  }
}

/*** FORUM ***/
#addSuggestions {
  border: 1px solid @lightgray;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
}

div.forumDiscussion {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.singleForumPost {
  border: 1px solid @coral;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  h3 {
    font-weight: bold;
  }
  .forumAuthor {
    color: @lightgray;
    font-size: 12px;
  }
  .forumContent {
    font-size: 16px;
  }
}

//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
